.login-bg-cont {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: #323da1;
}
.currency-heading-color {
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  padding: 10px;
}
.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 80px;
  background-color: white;
  font-family: sans-serif;
  padding: 30px;
  border-radius: 10px;
  font-size: 12px;
}
.login-input {
  width: 350px;
  height: 30px;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}
.login-forget {
  text-align: right;
  color: blue;
  cursor: pointer;
}
.login-button {
  width: 350px;
  height: 30px;
  color: white;
  background-color: #11718a;
  border: 0px;
  margin-bottom: 10px;
}
.err-msg {
  color: red;
}
.login-signUp {
  color: blue;
  cursor: pointer;
}
@media (max-width: 768px) {
  .currency-heading-color {
    text-align: center;
    font-size: 20px;
  }
  .login-container {
    margin: 20px;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }
  .login-button {
    width: 140px;
  }
}
